<ul class="bigPics">
    <a href="/photos/{{albumId}}/{{previousPic}}">
        <li><img class="arrows" src="/images/arrowLeft.png"/></li>
    </a>
    <li><img src="{{photo}}" width="600"/></li>
    <a href="/photos/{{albumId}}/{{nextPic}}">
        <li><img class="arrows" src="/images/arrowRight.png"/></li>
    </a>
</ul>